<html ng-app="myAdminApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Outil de gestion des préstataires</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.css" />

<link rel="stylesheet"
	href="bower_components/bootstrap.css/css/bootstrap.min.css">
<link rel="stylesheet"
	href="bower_components/fontawesome/css/font-awesome.min.css">
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li><a ng-href="#/home">Home</a></li>
				<li><a ng-href="#/list">all projets</a></li>
				<li><a ng-href="#/ressources">all ressources</a></li>
				<li><a ng-href="#/profils">all profils</a></li>
				<li><a ng-href="#/societes">all societes</a></li>
				<!-- 				<li ng-show="logged"><a ng-href="#/login">Login</a></li> -->
				<li><a ng-href="#/suivi">Suivi Prestataire</a></li>
				<li><a ng-href="#/compte">Compte</a></li>
				<li><a ng-href="#/logout">Logout</a></li>
				<!-- 				<li><a ng-href="#/register">Register</a></li> -->
				<li><a ng-href="#/help">Help</a></li>
				<!-- 				<li ng-hide="MainCtrl.logged"><a ng-click="MainCtrl.login()">Login</a></li> -->
				<!-- 				<li ng-show="MainCtrl.logged"><a ng-click="MainCtrl.logout()">Logout</a></li> -->
			</ul>

			<h3 class="text-muted">Outil de gestion</h3>
		</div>
	</div>

	<!-- partie principale -->
	<!-- 	<section class="container" ng-view></section> -->


	<!-- partie principale -->
	<!-- 	<div ng-show="loading" class="modal-loading text-center"> -->
	<!-- 		<i class="fa fa-spinner fa-spin fa-5x"></i> -->
	<!-- 	</div> -->
	<div class="container" ui-view=""></div>

	<!-- angular scripts -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script
		src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/bootstrap.css/js/bootstrap.js"></script>
	<script src="bower_components/angular-translate/angular-translate.js"></script>
	<script
		src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<!-- <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script> -->
	<script
		src="bower_components/angular-bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>

	<!-- application scripts -->
	<script type="text/javascript" src="scripts/app.js"></script>
	<!-- 	<script type="text/javascript"	src="scripts/interceptors/interceptors.module.js"></script> -->
	<!-- 	<script type="text/javascript"		src="scripts/interceptors/errInterceptors.constant.js"></script> -->
	<!-- 	<script type="text/javascript"		src="scripts/interceptors/errInterceptors.service.js"></script> -->
	<script src="scripts/constants/constants.js"></script>
	<script src="scripts/google/date.js"></script>
	<script src="scripts/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
	<!-- login and register -->

	<!-- 	<script src="scripts/services/flash.service.js"></script> -->
	<script src="scripts/services/usersservices.js"></script>
	<!-- 	<script type="text/javascript" src="scripts/services/Auth.service.js"></script> -->
	<script src="scripts/controllers/main.js"></script>
	<!-- 	<script src="scripts/controllers/login/login.controller.js"></script> -->
	<script src="scripts/controllers/register/register.controller.js"></script>
	<script src="scripts/controllers/projets/list.js"></script>
	<script src="scripts/controllers/projets/projet.js"></script>
	<!-- 	<script src="scripts/controllers/users.js"></script> -->
	<script src="scripts/controllers/projets/edit.js"></script>
	<script src="scripts/controllers/ressources/ressources.js"></script>
	<script src="scripts/controllers/profils/profils.js"></script>
	<script src="scripts/controllers/societes/societes.js"></script>
	<script src="scripts/controllers/suivipresta/SuiviPresta.js"></script>
	<script src="scripts/services/servicesprojets.js"></script>
	<script src="scripts/services/servicesressources.js"></script>
	<script src="scripts/services/servicesprofils.js"></script>
	<script src="scripts/services/servicessocietes.js"></script>
	<script src="scripts/directives/profile.js"></script>
	<script src="scripts/filters/filters.js"></script>
	<script src="views/compte/ng-iban.js"></script>
	<script src="views/compte/ng-iban.min.js"></script>
	<script src="scripts/controllers/compte/comptes.js"></script>

	<script src="scripts/controllers/login/index.controller.js"></script>
	<script src="scripts/controllers/login/home.controller.js"></script>
	<script src="scripts/services/authentication.service.js"></script>
	<!-- scripts for fake backend -->
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-mocks.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
	<script src="scripts/app-helpers/backend.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-messages.min.js"></script>
	<!--     <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script> -->
</body>
</html>
